{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
<div django-app="TaskManager">   
    <form action="" method="post">
     {% csrf_token %} 
        <div class="inputContainer">
            <input type="text" id="category" class="taskName" placeholder="Enter Category" name="category" required>
            <label for="category">Category</label>
        </div>
        <div class="row">
            <button class="btn btn-success" name="categoryAdd" type="submit"></i>Add Category</button>
        </div>       
    </form> 
    <form action="" method="post"> 
     {% csrf_token %}    
    <ul  class="taskList"> 
    {% for category in categories %} 
        <li class="taskItem">
            <input type="hidden"  name="categoryid" id="{{ category.id }}" value="{{ category.id }}">
            <label for="{{ category.id }}"><span class="complete-">{{ category.name }}</span></label>
            <button class="btn btn-danger" style="padding: 2px;height: 25px;" name="categoryDelete" type="submit">Delete</button> 
        </li>
    {% endfor %}  
    </ul>
    </form>
    <form action="" method="post">
    {% csrf_token %} 
        <div class="inputContainer">
            <input type="text" id="description" class="taskName" placeholder="What do you need to do?" name="description" required>
            <label for="description">Description</label>
        </div>
        <div class="inputContainer half last">
            <i class="fa fa-caret-down selectArrow"></i>
            <select id="category" class="taskCategory" name="category_select">
            <option class="disabled" value="">Choose a category</option>
            {% for category in categories %}
                <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
            </select>
            <label for="category">Category</label>
        </div>
        <div class="inputContainer half last right">
            <input type="date" id="dueDate" class="taskDate" name="date">
            <label for="dueDate">Due Date</label>
        </div>
        <div class="row"> 
            <button class="btn btn-success" name="taskAdd" type="submit">Add Task</button>
            <button class="btn btn-danger" name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();">Delete Task</button>   
        </div>
    
        <ul  class="taskList">
        {% for todo in todos %} 
            <li class="taskItem">
                <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}">
                <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.due_date }}</strong>
            </li>
        {% endfor %}
        </ul> 
    </form> 
</div>
{% endblock %}
